.search.maplibregl-ctrl {
    margin-right: 50px;
}
.active {
    font-weight: bold;
}
.search ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.searchPreset {
    display: inline-block;
    background-color: white;
    border-radius: 100px;
    padding: 0 7px 0 2px;
    margin: 0 2px 2px 2px;
}
.active.searchPreset {
  color: white;
  background: darkblue;
  font-weight: bold;
}
.active.searchPreset .fa-xmark {
    display:inline-block;
}
.active.searchPreset .fa-xmark:hover {
    color: lightgrey;
}
.searchPreset .fa-xmark {
    display:none;
    vertical-align:middle !important;
    height:13px !important;
}
.searchPreset img {
    vertical-align:middle;
    height:23px;
}
